body{
    justify-content: space-between;
    align-items: center;
}

main{
    margin-top: 4em;
}
main h1 {
    margin-bottom:1em ;
}

.email-house-number-container{
    display: flex;
    justify-content: space-between;
}

.email-el{
    width: 68%;
}

.house-number{
    width: 28%;
}

main > input{
    width: 100%;
}

main button{
    width: 100%;
}

.sign-in-container p{
    display: inline;
    
}

.sign-in-container{
    margin-bottom: 3rem;
}


