*{
    box-sizing: border-box;
}

:root {
    --main-bg-color: #f7f7f7;
    --call-to-action-one: #A0AE34;
    --call-to-action-two: #AE6140;
    --call-to-action-three:#955337;
    --primary-color-one: #584338;
    --primary-color-two: #4D3932;
    --black:#000000;
    --almost-black: #111111;
    --tinted-black: #222222;
    --light-black: #333333;
    --pale-black: #444444;
    --light-gray: #999999;
    --silver: #bbbbbb;
    --Alert: #f44336;
    --success: #4caf50;
    --border-radius:10px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

h1{
    font-size: 1.7em;
}

body{
    background-color: var(--main-bg-color);
    color:var(--tinted-black);
    padding: 1em 1.5em;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

.auth-body-spacing{
    padding: 1rem 1.5rem 3.2rem 1.5rem ;
    overflow-y: hidden;
}

body, button, input{
    font-family: "Montserrat", sans-serif;
}

button{
    border: none;
    background-color: var(--main-bg-color);
    padding: 1rem;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

.primary-btn{
    background-color: var(--call-to-action-two);
    color: white;
    display: block;
    width: 100%;
}


 button:active{
    background-color: var(--call-to-action-three);
}


a{
    text-decoration:none ;
    color: var(--call-to-action-two);
}

input{
    padding: 1rem 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid var(--light-gray);
    font-size: 1em;
    margin-bottom: 1.5em ;
    width: 100%;
}

button, input, .interactive-element{
    padding: 1em 0.5em;
    border-radius:  var(--border-radius);
}


.border-alert{
    border: 1px solid var(--Alert);
}

.border-success{
    border: 1px solid var(--success);
}

.alert-font{
    color: var(--Alert);
    font-weight: 500;
}

.alert-message{
    margin: none;
    padding: none;
    text-align: center;
    display: none;
}

.loader {
    margin: auto;
    display: block;
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

    @media (min-width: 580px) {
        body{
            max-width: 580px;
            margin: 0 auto;
        }
      }

    .opacity{
        opacity: 0.5;
        pointer-events: none;
    }



.pop-up-btns-container{
    display: flex;
    justify-content: space-between;
}

.message-popup p{
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

.button-popup-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.message-popup{
    position: fixed;
    top: 10%; 
    left: 50%;
    transform: translate(-50%);
    background-color: var(--silver);
    border-radius: 10px;
    padding: 2em 3em;
    width: 80%;
    padding: 3rem 2.5rem;
    opacity: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20%;
    max-width: 580px;
}

.reservation-details h2{
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    text-align: left;
}


.reservation-details p{
    margin: none
}

.reservation-details button{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1rem;
}

