:root {
    --main-bg-color: #f7f7f7;
    --call-to-action-one: #A0AE34;
    --call-to-action-two: #AE6140;
    --call-to-action-three:#955337;
    --primary-color-one: #584338;
    --primary-color-two: #4D3932;
    --black:#000000;
    --almost-black: #111111;
    --tinted-black: #222222;
    --light-black: #333333;
    --pale-black: #444444;
    --light-gray: #999999;
    --silver: #bbbbbb;
    --Alert: #f44336;
    --success: #4caf50;
    --border-radius:10px;
}

.booking-availability{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.8rem;
    gap: 2px
}

.booking-availability div{
    width: 20%;
    text-align: center;
    font-weight: 500;
   
    
}

.booking-availability div:hover{
    
    cursor: pointer;
}

.no-hover{
    background-color: var(--main-bg-color);
    color: var(--tinted-black);
    cursor: default;
}

.selected{
    background-color: var(--call-to-action-two);
    cursor: pointer;
    color: whitesmoke;
}

.booked{
    background-color: var(--light-gray);
    color: whitesmoke;
    cursor: pointer;
}

body{
    padding-top: 4em;
}

input[type="date"]{
    margin: 2rem 0rem 4rem 0rem;
}

.save-reservation-btn{
    margin-top: 2rem;
}






.bold{
    font-weight: bold;
}


.upload-btn{
    font-size: 0.8rem;
    margin-bottom: 2rem;
}



.go-back-anchor{
    cursor: pointer;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    color: var(--tinted-black);
}

#hour-reservation-container{
    display: none;
}

.reservation-details h2{
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
}


.reservation-details p{
    margin: none
}

.reservation-details button{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 1rem;
}

